*{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
}
#overlayer {
  width:100%;
  height:100%;  
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background:#FFF;
  display: none;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index:3;
  left: 50%;
  border: 4px solid #Fff;
  top: 50%;
  display: none;
  animation: loader 2s infinite ease;
}

.load-finish{
	opacity: 0;
	pointer-events: none;
}
#navbar{
	box-shadow: 2px 1px 2px 1px grey;
}
#logo{
	width:60px;
	height: 60px;
}
#signup{
	background: rgba( 255, 255, 255, 0.15 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur(4px );
	-webkit-backdrop-filter: blur( 7.0px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	position: absolute;
	top:20%;
	right:10%;
	padding: 20px;
	border: 2px solid #000;
	box-shadow: 2px 2px 2px 2px grey;
	border-radius: 5px;
	z-index: 1000;
	color:#000;
}
#email{
	/*border: none;*/
	border: 2px solid #000;
	border-radius: 0;
	width: 25vw;
	margin: 10px;
	color: #000;
	background: transparent;
}
label{
	font-weight: bold;
}


.label{
	font-family: 'Rubik Mono One', sans-serif;
	color:#000;
	font-weight: bold;
}
#password{
	color: #000;
	/*border: none;*/
	background: transparent;
	border: 2px solid #000;
	border-radius: 0;
	width: 25vw;
	margin: 10px;
}
#signup_btn{
	width: 20vw;
	margin-top: 5%;
	background: #FFF;
	color:#000;
	border: 2px solid #000;
	margin:50px;
}
#signup_btn:hover{
	background: #000;
	color:#FFF;
	border: 2px solid #000;
}
#main_left{
	width: 50vw;
}
#left_frontpage{
	position: absolute;
	top: 30%;
	left:10%;
}
#left_frontpage h1{
	font-size: 4rem;
	color:#000;
	font-family: 'Rubik Mono One', sans-serif;
	overflow: hidden;
	text-shadow: 2px 2px #FFF;
}
#left_frontpage h2{
	font-size: 3.2rem;
	color:#000;
	font-family: 'Rubik Mono One', sans-serif;
	overflow: hidden;
	text-shadow: 2px 2px #FFF;
}
#left_frontpage h3{
	font-size: 3.2rem;
	color:#000;
	font-family: 'Rubik Mono One', sans-serif;
	overflow: hidden;
	text-shadow: 2px 2px #FFF;
}
#image_left{
	position: absolute;
	top: 0;
	left: 10%;
	widows: 50vw;
	height: 100vh;
}
#Login_email{
	color: #000;
	border: 2px solid #FFF;
	border-radius: 0;
	width: 25vw;
	margin-top: 10px;
}
#Login_password{
	color: #000;
	border: 2px solid #FFF;
	border-radius: 0;
	width: 25vw;
	margin-top: 10px;
}
#login{
	width: 20vw;
	background: #FFF;
	color:#000;
	border: 2px solid #000;
}
#login:hover{
	background:linear-gradient(45deg,#f24f4f,#5cc0f0d1);
	color:#FFF;
}