@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    /*position: relative;*/
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s;
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.header_img img {
    width: 40px;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
#logo{
    width: 40px;
    height: 40px;
}
.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem;
}

.nav_logo {
    margin-bottom: 2rem;
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700;
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s;
}

.nav_link:hover {
    color: var(--white-color);
}

.nav_icon {
    font-size: 1.25rem;
}

.show {
    left: 0;
}

#body-pd {
    /*padding-left: calc(var(--nav-width) + 1rem);*/
    /*background: linear-gradient(45deg,lightgreen,#FFF);*/
}

.active {
    color: var(--white-color);
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    /*background-color: var(--white-color);*/
}

.height-100 {
    height: 100vh;
}

#btn-predict{
    position: absolute;
    top: 5%;
    left:45%;
}
#logout{
    position: absolute;
    bottom: 0%;
    left:2%;
}
#result_box{
    border: 2px solid #000;
    position: absolute;
    top: 5%;
    left: 75%;
    width: 20vw;
    height: 50vh;
    background: #f6abab8c;
    display: none;
}
#navbar-brand{
    position: absolute;
    top:2%;
    left:2%;
}
#type{
    border:2px solid #000;
    padding:4px;
}
#upload{
    width: 20vw;
    background: transparent;
    padding: 10px;
    color: #FFF;
    border: 2px solid #FFF;
    text-transform: uppercase;
    font-weight: bold;
}
#upload:hover{
    background: #FFF;
    color: #000;
    border: 2px solid #FFF;
}
#dataset_name{
    border: 2px solid #000;
}
#dataset_location{
    border: 2px solid #000;
}
#date_dataset{
    border: 2px solid #000;
}
/*#upload_dataset_link{
    position: absolute;
    left:20%;
    border:2px solid #000;
    padding: 10px;
    background: #1d45bd;
    border-radius: 4px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}*/
.modal-open .modal{
    width: 100%;
}
#modal_get_datasets{
    position: absolute;
    top: 10%;
}
#modal_dataset_content{
	margin-left: -60%;
}
.rel {
    position: relative
}
#plot {
    pointer-events: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #FFF;
    padding: 20px;
}
.bar {
    pointer-events: auto;
    fill: #AFAFB9;
}
.bar.selected {
    fill: green;
}
.tip {
    position: absolute;
    background: black;
    color: white;
    padding: 6px;
    font-size: 12px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: none;
    opacity: 0;
}
.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: red;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}
.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}
.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}
    
.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}
.tooltip-static:before {
    border-top-color: #ffcc33;
}
@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .header_img {
        width: 40px;
        height: 40px;
    }

    .header_img img {
        width: 45px;
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
        background: #0c30e3;
    }

    .show {
        width: calc(var(--nav-width) + 156px);
    }

    .body-pd {
        background: lightcyan;
        padding-left: calc(var(--nav-width) + 188px);
    }
}

/*BODY CSS*/


#homeinfo{
    background: linear-gradient(45deg,lightgreen,#FFF);
    position:absolute;
    top: 15%;
    width: 93%;
    height: 85%;
    border-radius: 5px;
}
.home_left-text{
    padding:20px;
}
.home_text{
    font-size:  3rem;
    font-weight: 800;
    color: #24436a;
}
.captions{
    margin-top: 5%;
    justify-content: space-around;
    font-size: 1.3rem;
}
#learn_more{
    margin-top: 20px;
    padding: 7px;
    width: 10vw;
    border-radius: 10px;
    color: #FFF;
    font-weight: bold;
}   
#image_right{
    position: absolute;
    top: 20%;
    right: 0%;
}
