<!DOCTYPE html>
<html>
	<head>
		<title>PyAgro</title>
		<link rel="icon" href="https://th.bing.com/th/id/OIP.jSL-5Uw6rXV5Ew2cYIDXZwHaE4?pid=ImgDet&rs=1">
		<link rel="stylesheet" href="../static/css/index.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
	</head>
	<body>
		<div id="overlayer"></div>
		<div class="preloader">
			<div class="loader">
				<img src="../static/Images/fly2.gif" style="width: 10vw;">
			</div>
			<!-- <p>Loading...</p> -->
		</div>
		<header id="header" class="header">
			<nav class="navbar navbar-expand-md navbar-light fixed-top" id="navbar">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" style="border:0;">
				<span class="navbar-toggler-icon"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="../static/Images/preview.jpg" alt="logo" id="logo"></a>
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav ml-auto text-justify">
						<li class="nav-item">
							<a href="" class="nav-link text-dark" data-toggle="modal" data-target="#modal_login">
								Log In
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<main class="main" role="main">
			<div id="signup">
				<form method="post" enctype="multipart/form-data" action="/signup">
					<div class="form-group">
						<label for="email" class="label">Email address</label>
						<input type="email" class="form-control validate" required  name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email id">
					</div>
					<br>
					<div class="form-group">
						<label for="password" class="label">Password</label>
						<input type="password" class="form-control validate" required  name="password" id="password" placeholder="Password">
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="exampleCheck1">
						<label class="form-check-label" for="exampleCheck1" class="label text-dark">I accept the terms & conditions</label>
					</div>
					<button type="submit" id="signup_btn" class="btn btn-primary">Sign Up</button>
				</form>
				<div id="signup_msg" style="text-align: center;color: red;text-transform: capitalize;">{{ signup_msg }}</div>
			</div>
			<img src="../static/Images/field.png" id="image_left">
			<div id="main_left">
				<div id="left_frontpage">
					<h1>We</h1>
					<h2>Help You Obtain</h2>
					<h3>Better Results</h3>
				</div>
			</div>
			<section class="modal-form-section">
				<div class="modal fade" id="modal_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content" style="background:#151949;color:#FFF;">
							<div class="modal-header text-center">
								<h4 class="modal-title w-100 font-weight-bold"><img src="../static/Images/preview.jpg" alt="logo" id="logo"></h4>
								<br>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:red;">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div id="msg" style="position: absolute;top:20%;left:25%;color:red;">{{ msg }}</div>
							<form action="/login" method="post" enctype="multipart/form-data">
								<div class="modal-body mx-4">
									<div class="section-title text-center">
										<h4 class="text-white text-capitalize font-weight-bold">
										Log In
										</h4>
									</div>
									<div class="md-form mb-3">
										<label data-error="wrong" data-success="right" for="email">E-mail ID</label>
										<input type="text" name="Login_email" id="Login_email" onkeyup="enquirer_email_check()" placeholder="Email ID" class="form-control validate" required />
										<span id="Login_email_error" class="text-danger"></span>
									</div>
									<div class="md-form mb-3">
										<label data-error="wrong" data-success="right" for="email">Password</label>
										<input type="password" name="Login_password" id="Login_password" onkeyup="enquirer_email_check()" placeholder="password" class="form-control validate" required />
										<span id="Login_email_error" class="text-danger"></span>
									</div>
								</div>
								<p class="text-center text-danger text-capitalize">*Please fill the complete form</p>
								<div class="modal-footer d-flex justify-content-center">
									<button type="submit" class="btn btn-primary" id="login" name="login">Log In</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!-- SCRIPT FOR WEBPAGE SHOULD BE LOADED BELOW THIS POINT -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		
		
		<!-- SCRIPT REQUIRED FOR ROUTING BELOW HERE -->
		<script src="../static/js/signup.js"></script>
		<script>
		if ( window.history.replaceState ) {
		  window.history.replaceState( null, null, window.location.href );
		}
		</script>
	</body>
</html>